<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>image</key>
		<string>andl</string>
		<key>title</key>
		<string>登录/注册</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=settings&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ansy</string>
		<key>title</key>
		<string>网站首页</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ants</string>
		<key>title</key>
		<string>天使投资</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=investor&amp;act=invester_list&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ancy</string>
		<key>title</key>
		<string>创业公司</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=finance&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ancp</string>
		<key>title</key>
		<string>产品众筹</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=deals&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>ansm</string>
		<key>title</key>
		<string>私募众筹</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=deals&amp;type=1&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>angy</string>
		<key>title</key>
		<string>公益众筹</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=deals&amp;act=selfless&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>anwz</string>
		<key>title</key>
		<string>文章列表</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
		<key>bodyString</key>
		<string>ctl=article_cate&amp;first_post=1&amp;from_type=IOS</string>
	</dict>
	<dict>
		<key>image</key>
		<string>anfq</string>
		<key>title</key>
		<string>发起项目</string>
		<key>bodyString</key>
		<string>ctl=project&amp;act=choose&amp;first_post=1&amp;from_type=IOS</string>
		<key>urlString</key>
		<string>http://zctest.fanwe.com/wap/index.php?</string>
	</dict>
</array>
</plist>
